<div>
  <div class="row" style="padding: 10px;">
    <div class="col-md-6">
      <button class="btn btn-default btn-custom btnMargin" [ngClass]="{'active': tab == 1}"
        (click)="lmtab(JSON.parse(auth.data).role.toLowerCase() == 'admin' ? 'APPROVED' : 'REQUESTED',1)">PENDING
        REQUESTS</button>
      <button class="btn btn-default btn-custom btnMargin" [ngClass]="{'active': tab == 2}"
        (click)="lmtab(JSON.parse(auth.data).role.toLowerCase() == 'admin' ? 'PROVISIONED' : 'APPROVED',2)">REQUESTS
        HISTORY</button>
    </div>
  </div>
  <div class="tableHeight">
    <mat-table [dataSource]="dataSource" matSort>


      <!--   
              <ng-container matColumnDef="position">
                
                <mat-header-cell *matHeaderCellDef> S.No. </mat-header-cell>
              
                  <mat-cell *matCellDef="let element; let i = index;"> {{i+1}}</mat-cell>
  
              </ng-container> -->

      <!-- Name Column -->
      <ng-container matColumnDef="sNo">
        <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.sNo}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="request_id">
        <mat-header-cell *matHeaderCellDef> Request ID </mat-header-cell>
        <mat-cell style="color: blue !important;
        font-weight: inherit;" (click)="getDetails_more(element)" class="suresh-underline" *matCellDef="let element">
          {{element.request_id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="service_type">
        <mat-header-cell *matHeaderCellDef> Service Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.service_type}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <!-- <ng-container matColumnDef="service_name">
              <mat-header-cell *matHeaderCellDef> Service Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.service_name}} </mat-cell>
            </ng-container> -->

      <!-- Symbol Column -->
      <ng-container matColumnDef="project_name">
        <mat-header-cell *matHeaderCellDef> Project Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.project_name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="location_id">
        <mat-header-cell *matHeaderCellDef> Delivary Location </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.location_id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="start_date">
        <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.start_date}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="end_date">
        <mat-header-cell *matHeaderCellDef> End date </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="{'red-danger': element.expired}">
          <span *ngIf="element.expired" class="glyphicon glyphicon-warning-sign"></span> {{element.end_date}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}}
          <!-- <img src={{element.status}} class="logo" width="35px" /> -->
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Price($) </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row style="cursor: inherit;" *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <!-- <mat-row (click)="viewRequest(row.sNo)" *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
    </mat-table>
    <mat-paginator [pageIndex]="pageIndex" (page)="pageChangeEvent($event, tab)" [length]="pageLength"
      [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" style="padding-left:50px;"></mat-paginator>
  </div>


</div>