<div class="container-fluid" style="padding-right:0px;padding-left:0px;">
    <div class="row" style="margin-right:0px;margin-left:0px;">
        <nav-app></nav-app>
    </div>
    <div class="row wrapper" style="margin-right:0px;margin-left:0px;margin-top: 46px;">
        <div  style="width:8.5%">
            <nav class="main-menu" id="sidebar" style="width:8.5%">
                <!-- <div style="text-align: right"><button type="button" id="sidebarCollapse1" (click)="menuClose()" class="btn btn-info" style="background-color:black;border-color:black;text-align:right;"> -->
                <!-- <i class="fas fa-align-left"></i> -->
                <!-- <span class="glyphicon glyphicon-arrow-left"></span>
            </button></div> -->
                <ul>
                    <li id="dashboard" routerLink="/AdminDashboard" [ngClass]="{'active': webService.Dashboard==true}">
                        <a routerLink="/AdminDashboard">
                            <span class="icon"><img src="./assets/images/dashboard.png" width="28px" id="logo" /></span>
                            <span class="nav-text"><br>
                                Dashboard
                            </span>
                        </a>

                    </li>
                    <li class="dropdown" [ngClass]="{'active': webService.labs==true}">
                        <a>
                            <span class="icon"><img src="./assets/images/labs.png" width="28px" id="logo" /></span>
                            <span class="nav-text"><br />
                                Labs
                            </span>
                            <i class="right"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li routerLink="/AdminDashboard/lab1" class="dropCell">
                                <a routerLink="/AdminDashboard/lab1">ODC 3</a>
                            </li>
                            <li routerLink="/AdminDashboard/lab2" class="dropCell">
                                <a routerLink="/AdminDashboard/lab2">ODC 1</a>
                            </li>
                        </ul>

                    </li>
                    <li routerLink="/DesignerDashboard" [ngClass]="{'active': webService.catalogue==true}">
                        <a routerLink="/DesignerDashboard">
                            <span class="icon"><img src="./assets/images/devices.png" width="28px" id="logo" /></span>
                            <span class="nav-text"><br />
                                Catalogue
                            </span>
                        </a>

                    </li>
                    <li style="cursor: pointer;" id="orders" routerLink="/AdminDashboard/orders"
                        [ngClass]="{'active': webService.orders==true}">
                        <a>
                            <span class="icon"><img src="./assets/images/orders.png" width="28px" id="logo" /></span>
                            <span class="nav-text"><br>
                                <!-- Orders -->
                                Requests
                            </span>
                        </a>

                    </li>

            


                    <!-- <li routerLink="/AdminDashboard/services" [ngClass]="{'active': webService.myService==true}">
                <a>
                    <span class="icon"><img src="./assets/images/services.png"  width="28px"  id="logo" /></span>
                    <span class="nav-text" ><br>
                       Services
                    </span>
                </a>
              
       
               
        </li> -->
                    <!-- <li routerLink="/vdes">
            <a  routerLink="/vdes">
                <span class="icon"><img src="./assets/images/vdes.png"  width="28px"  id="logo" ></span>
                <span class="nav-text"><br>
                    Devices
                </span>
            </a>
          
        </li> -->
                    <!-- <li routerLink="/catelogue">
            <a routerLink="/catelogue">
                <span class="icon"><img src="./assets/images/catalogue.png"  width="28px"  id="logo" ></span>
                <span class="nav-text"><br>
                    Catalogue
                </span>
            </a>
          
        </li>
        <li routerLink="/users">
            <a  routerLink="/users">
                <span class="icon"><img src="./assets/images/users.png"  width="28px"  id="logo" ></span>
                <span class="nav-text"><br>
                    Users
                </span>
            </a>
          
        </li> -->
                    <!-- <li routerLink="/activities">
            <a routerLink="/activities">
                <span class="icon"><img src="./assets/images/activities.png"  width="28px"  id="logo" ></span>
                <span class="nav-text"><br>
                    Activities
                </span>
            </a>
          
        </li> -->
                    <!-- <li routerLink="/AdminDashboard/assurance" [ngClass]="{'active': webService.assurance==true}">
            <a routerLink="/AdminDashboard/assurance">
                <span class="icon"><img src="./assets/images/assurance.png"  width="28px"  id="logo" ></span>
                <span class="nav-text"><br>
                   Monitoring 
                </span>
            </a>
          
        </li> -->
                    <li class="dropdown" [ngClass]="{'active': webService.reports==true}">
                        <a>
                            <span class="icon"><img src="./assets/images/reports.png" width="28px" id="logo"></span>
                            <span class="nav-text"><br />
                                Reports
                            </span>
                            <i class="right"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li routerLink="/AdminDashboard/Billing" class="dropCell">
                                <a routerLink="/AdminDashboard/Billing">Billing</a>
                            </li>
                            <li routerLink="/AdminDashboard/Utilization" class="dropCell">
                                <a routerLink="/AdminDashboard/Utilization">Utilization</a>
                            </li>
                        </ul>

                    </li>
                    <li routerLink="/AdminDashboard/users" [ngClass]="{'active': webService.Inventory==true}">
                        <a routerLink="/AdminDashboard/users">
                            <span class="icon"><img src="./assets/images/users.png" width="28px" id="logo"></span>
                            <span class="nav-text"><br>
                                Users
                            </span>
                        </a>

                    </li>
                    <li routerLink="/AdminDashboard/calendar" [ngClass]="{'active': webService.calendar==true}">
                        <a routerLink="/AdminDashboard/calendar">
                            <span class="icon"><img src="./assets/images/users.png" width="28px" id="logo"></span>
                            <span class="nav-text"><br>
                                calendar
                            </span>
                        </a>

                    </li>
                    <li routerLink="/AdminDashboard/holidays" [ngClass]="{'active': webService.holidays==true}">
                        <a routerLink="/AdminDashboard/holidays">
                            <span class="icon"><img src="./assets/images/users.png" width="28px" id="logo"></span>
                            <span class="nav-text"><br>
                                Holidays
                            </span>
                        </a>

                    </li>
                    <!-- <li routerLink="/help">
            <a href="/help" routerLink="/help">
                <span class="icon"><img src="./assets/images/help.png"  width="28px"  id="logo" ></span>
                <span class="nav-text"><br>
                    Help
                </span>
            </a> 
           
        </li>  -->
                </ul>

                <!-- <ul class="logout">
        <li>
            <a> <span class="copy"></span>
                <span class="nav-text" style="font-size: 8px">
                    &copy; CREDO | Tata Consultancy Services 
                </span></a>
            
        </li>  
    </ul> -->
            </nav>
        </div>
        <!-- <div> <button type="button" id="sidebarCollapse" (click)="menuOpen()" class="btn btn-info" style="background-color:black">
      
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button></div>    -->

        <div style="padding: 0px;width:91.5%">

            <router-outlet></router-outlet>
            <footer class="logout"><span class="copy"></span>
                <span class="nav-text" style="font-size: 10px">
                    &copy; 2019 | Tata Consultancy Services Limited.All Rights Reserved.
                </span></footer>
        </div>
    </div>
</div>
