<div class="container-fluid" style="padding-right:0px;padding-left:0px;">
  <!--   <div class="row" style="margin-right:0px;margin-left:0px;">
        <nav-app></nav-app>
    </div> -->
    <div class="row ">
        <div style="width:8.5%">
            <nav class="main-menu" id="sidebar" style="width:8.5%">
                <!-- <div style="text-align: right"><button type="button" id="sidebarCollapse1" (click)="menuClose()" class="btn btn-info" style="background-color:black;border-color:black;text-align:right;">
            
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button></div> -->

                <ul class="navr">
                    <li routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                        [ngClass]="{'active': webService.Dashboard==true}">
                        <a routerLink="/dashboard">
                            <span class="icon"><img src="./assets/images/dashboard.png" width="28px" id="logo" /></span>
                            <span class="nav-text"><br />
                                Dashboard
                            </span>
                        </a>

                    </li>
                    <li routerLink="/dashboard/serverlist" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}"
                        [ngClass]="{'active': webService.ReservationSystem==true}">
                        <a routerLink="/dashboard/serverlist">
                            <span class="icon"><img src="./assets/images/reservationsystem.png" width="28px"
                                    id="logo" /></span>
                            <span class="nav-text"><br />
                                Baremetal Reservation System
                            </span>
                        </a>

                    </li>
                    <li class="dropdown" [ngClass]="{'active': webService.labs==true}">
                        <a>
                            <span class="icon"><img src="./assets/images/labs.png" width="28px" id="logo" /></span>
                            <span class="nav-text"><br />
                                Labs
                            </span>
                            <i class="right"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li routerLink="/dashboard/lab1" class="dropCell">
                                <a routerLink="/dashboard/lab1">ODC 3</a>
                            </li>
                            <li routerLink="/dashboard/lab2" class="dropCell">
                                <a routerLink="/dashboard/lab2">ODC 1</a>
                            </li>
                        </ul>

                    </li>
                    <li routerLink="/dashboard/inventory" [ngClass]="{'active': webService.devices==true}">
                        <a routerLink="/dashboard/inventory">
                            <span class="icon"><img src="./assets/images/devices.png" width="28px" id="logo" /></span>
                            <span class="nav-text"><br />
                                Catalogue
                            </span>
                        </a>
                    </li>



                    <!-- <li class="has-subnav" routerLink="/dashboard/catalogue">
                        <a routerLink="/dashboard/catalogue">
                            <span class="icon"><img src="./assets/images/catalogue.png" width="28px" id="logo" /></span>
                            <span class="nav-text"><br />
                                Catalogue
                            </span>
                        </a>

                    </li> -->

                    <li class="dropdown" routerLink="/dashboard/Myservices/NewRequest"
                        [ngClass]="{'active': webService.myService==true}">
                        <a>
                            <span class="icon"><img src="./assets/images/services.png" width="28px" id="logo" /></span>
                            <span class="nav-text"><br />
                                Reservation of VM's
                            </span>

                        </a>

                        <!--<ul class="dropdown-menu">
                            <li routerLink="/dashboard/Myservices/NewRequest" class="dropCell">
                                <a style="text-align: -webkit-left;">New Request</a>
                            </li>
                            <li routerLink="/dashboard/Myservices/RequestList" class="dropCell">
                                <a style="text-align: -webkit-left;">Request list</a>
                            </li>
                        </ul>-->
                    </li>
                    <li routerLink="/dashboard/my-reservations" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}"
                        [ngClass]="{'active': webService.ReservationList==true}">
                        <a routerLink="/dashboard/my-reservations">
                            <span class="icon"><img src="./assets/images/orders.png" width="28px" id="logo" /></span>
                            <span class="nav-text"><br />
                                My Reservations
                            </span>
                        </a>

                        <!-- <li routerLink="/dashboard/AdminRequestList">
                        <a>
                            <span class="icon"><img src="./assets/images/service list.svg" width=24px; id="logo" /></span>
                            <span class="nav-text"><br />
                                Service List
                            </span>
                        </a>-->
                    </li>
                    <!-- <li routerLink="/dashboard/Billing" *ngIf="auth.EEaaS_role==LM">
                        <a>
                            <span class="icon"><img src="./assets/images/billing.png" width=24px; id="logo" /></span>
                            <span class="nav-text"><br />
                                Billing
                            </span>
                        </a>
                    </li> -->
                    <!-- <li routerLink="/dashboard/user">
                        <a>
                            <span class="icon"><img src="./assets/images/vdes.png" width=28px; id="logo" /></span>
                            <span class="nav-text"><br />
                                VDEs
                            </span>
                        </a>
                    </li>
                    <li routerLink="/dashboard/user">
                        <a>
                            <span class="icon"><img src="./assets/images/users.png" width="28px" id="logo" /></span>
                            <span class="nav-text"><br />
                                Users
                            </span>
                        </a>
                    </li>

                    <li routerLink="/dashboard/user">
                        <a>
                            <span class="icon"><img src="./assets/images/issues.svg" width=24px; id="logo" /></span>
                            <span class="nav-text"><br />
                                Issues
                            </span>
                        </a>
                    </li> -->

                </ul>

                <!-- <ul class="logout">
        <li>
            <a> <span class="copy"></span>
                <span class="nav-text" style="font-size: 8px">
                    &copy; CREDO | Tata Consultancy Services 
                </span></a>
            
        </li>  
    </ul> -->

            </nav>




        </div>
        <div style="padding: 0px;width:91.5%;">

            <router-outlet></router-outlet>
            <!-- <div routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/dashboard/Myservices/RequestList">Jim</a>
            <a routerLink="/dashboard/Myservices/NewRequest">Bob</a>
          </div> -->
            <!-- <footer class="logout"><span class="copy"></span>
                <span class="nav-text" style="font-size: 10px; ">
                    &copy; 2019 | Tata Consultancy Services Limited.All Rights Reserved.
                </span>
            </footer> -->
        </div>
        <!-- <div> <button type="button" id="sidebarCollapse" (click)="menuOpen()" class="btn btn-info" style="background-color:black">
    
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button></div>    -->


    </div>

</div>
