<div class="dashboardhead">
  <h5 class="dashboardBody_Heading">
    <span *ngIf="login_data.role.toLowerCase() == 'pm'">
      <span routerLink="/home/dashboard">Dashboard</span>/
      <span style="font-weight: bold;" routerLink="/home/dashboard/my-reservations">My Reservations</span>
    </span>
    <span *ngIf="login_data.role.toLowerCase() == 'lm'">
      <span routerLink="/home/lmdashboard">Dashboard</span>/
      <span style="font-weight: bold;" routerLink="/home/lmdashboard/orders">Requests</span>
    </span>
    <span *ngIf="login_data.role.toLowerCase() == 'admin'">
      <span routerLink="/home/AdminDashboard">Dashboard</span>/
      <span style="font-weight: bold;" routerLink="/home/AdminDashboard/orders">Requests</span>
    </span>
  </h5>
</div>
<div class="overflow-auto" *ngIf="order_details">

  <div class="customRow easHeading">
    <div class="col-md-6">
      <div class="black" style="margin-left: 12px;">Request ID: {{request_id}} </div>
    </div>
    <div class="col-md-6">
      <!-- for pm -->

      <div style="float: right; margin-right: 2%" *ngIf="login_data.role.toLowerCase() == 'pm'">
        <!-- WHEN EDIT IS NOT CLICKED....INITIAL STATE-->
        <button class="easSecondaryBtn easButton" *ngIf="!enable_pm_edit" (click)="back()">Go Back</button>
        <button class="easButton" *ngIf="pm_can_edit && !enable_pm_edit" (click)="release()">RELEASE</button>

        <button [disabled]="order_details.expired" class="easButton"
          *ngIf="pm_can_edit && !enable_pm_edit  && order_details?.instance_type != 'hardware'"
          [ngClass]="{'disabledBtn' : order_details.expired }" (click)="pmEdit(true)">EDIT</button>

        <button [disabled]="order_details.expired || ['APPROVED'].includes(order_details.status.toUpperCase())"
          [ngClass]="{'disabledBtn' : (order_details.expired || ['APPROVED'].includes(order_details.status.toUpperCase()) )}"
          class="easButton" *ngIf="pm_can_cancel_req" (click)="pmCancelReq()">CANCEL
          REQUEST</button>

        <!-- WHEN EDIT IS CLICKED-->
        <button class="easButton" *ngIf="enable_pm_edit" (click)="pmEdit(false)">CANCEL EDIT</button>

        <button [disabled]="order_details.expired" [ngClass]="{'disabledBtn' : order_details.expired }"
          class="easButton" *ngIf="enable_pm_edit" (click)="pmEditSubmit()">SUBMIT REQUEST</button>
      </div>
      <!-- for lm and admin -->
      <div style="float: right;margin-right: 2%" *ngIf="login_data.role.toLowerCase() != 'pm'">

        <!--LM and ADMIN-->
        <!--SEC button in LM@REQUESTED and in admin@APPROVED-->
        <!--Primary Button in -->
        <button class="easButton" (click)="reject()"
          [disabled]='order_details.expired || order_details.status=="PROVISIONED" || order_details.status=="ALLOCATED"'
          [ngClass]="{'disabledBtn' : (order_details.expired || order_details.status == 'PROVISIONED' || order_details.status == 'ALLOCATED'), 'easSecondaryBtn': ((login_data.role == 'LM' && order_details.status =='REQUESTED') || (login_data.role.toLowerCase() == 'admin' && order_details.status == 'APPROVED') )}">
          REJECT </button>

        <button class="easButton" *ngIf="login_data.role == 'LM' && order_details.status =='REQUESTED'"
          [disabled]='order_details.expired || order_details.status=="PROVISIONED" || order_details.status=="ALLOCATED"'
          (click)="approve()"
          [ngClass]="{'disabledBtn' : (order_details.expired || order_details.status == 'PROVISIONED' || order_details.status == 'ALLOCATED') }">
          APPROVE</button>

        <!--ADMIN and IF EXIPIRED only RELEASE IT-->
        <button class="easButton" *ngIf="login_data.role.toLowerCase() == 'admin' && order_details.expired "
          [ngClass]="{'disabledBtn' : (order_details.status == 'RELEASED') }"
          [disabled]='order_details.status=="RELEASED"' (click)="release()">RELEASE</button>

        <!--ADMIN and status as APROVED-->
        <button class="easButton"
          [disabled]='order_details.expired || order_details.status=="PROVISIONED" || order_details.status=="ALLOCATED"'
          [ngClass]="{'disabledBtn' : (order_details.expired || order_details.status == 'PROVISIONED' || order_details.status == 'ALLOCATED') }"
          *ngIf="login_data.role.toLowerCase() == 'admin' && order_details.status == 'APPROVED'" (click)="provision()">
          <span *ngIf="order_details?.instance_type != 'hardware'">PROVISION</span>
          <span *ngIf="order_details?.instance_type == 'hardware'">APPROVE</span>
        </button>
      </div>
    </div>
  </div>
  <div class="customRow lmAva" *ngIf="login_data.role.toLowerCase() == 'lm'">
    <div class="price" *ngIf="order_details?.instance_type != 'hardware'">
      <label>Available Budget :</label>
      <span *ngIf="order_details.budget.avail_budget-order_details.price < 0"
        style="color: red;">${{order_details.budget.avail_budget.toLocaleString()}}</span>
      <span *ngIf="order_details.budget.avail_budget-order_details.price < 0" style="color: red;">(Exceeds budget
        Limit)</span>
      <span *ngIf="order_details.budget.avail_budget-order_details.price > 0" style="color: green;"
        class="priceAmt">${{order_details.budget.avail_budget.toLocaleString()}}</span>
    </div>
    <div class="price" *ngIf="order_details?.instance_type != 'hardware'"><label>Total Price :</label><span
        class="priceAmt">${{order_details.price.toLocaleString()}}</span>
    </div>
  </div>
  <hr>
  <div class="container" *ngIf="order_details">

    <div class="panel-group" id="accordion">
      <div class="panel panel-default" *ngFor="let data of order_details.servers_list; let i = index;">

        <div class="panel-heading">

          <h4 class="panel-title" style="text-align: center;">

            <a class="accordion-toggle item-title" data-toggle="collapse" data-parent="#accordion"
              href="#{{data.server_details_user.service_id}}">
              {{data.service_name}}
            </a>
          </h4>
        </div>
        <div id="{{data.server_details_user.service_id}}" class="panel-collapse collapse in">
          <div class="panel-body" style="padding-top: 10px">
            <div class="row">
              <div class="col-md-8">

                <form>
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field>
                        <input disabled="true" name="project_name" ngDefaultControl
                          [(ngModel)]="order_details.project_name" matInput placeholder="Project">
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field>
                        <input disabled="true" name="location" ngDefaultControl [(ngModel)]="order_details.location_id"
                          matInput placeholder="Location">
                      </mat-form-field>
                    </div>
                    <div class="col-md-4" *ngIf="order_details?.instance_type != 'hardware'">
                      <mat-form-field>
                        <input disabled="true" name="price" ngDefaultControl
                          [(ngModel)]="data.server_details_user.price_per_hr" matInput
                          placeholder="Price (Price Per Hr.)">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">

                      <div class="form-group">
                        <mat-form-field>
                          <input disabled="true" name="start_date" ngDefaultControl
                            [(ngModel)]="order_details.start_date" matInput placeholder="Start Date">
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="col-md-4">

                      <div class="form-group">
                        <!-- <label for="exampleFormControlInput1">End Date</label> -->
                        <mat-form-field>
                          <input [ngStyle]="{color: order_details.expired ? 'red' : ''}" disabled="true" name="end_date"
                            ngDefaultControl [(ngModel)]="order_details.end_date" matInput placeholder="End Date">
                        </mat-form-field>

                      </div>
                    </div>

                    <div class="col-md-4" *ngIf="order_details.expired">
                      <div style="color: red; font-size: 16px;">
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        <span>Reservation expired</span>
                      </div>
                    </div>

                  </div>
                  <!--Select Operating System-->
                  <div
                    *ngIf="order_details.instance_type.toLowerCase() =='physical' && data.server_details_user.software"
                    class="panel panel-default">
                    <div class="panel-heading" style="background-color: lightgray">
                      <h3 class="panel-title">
                        <div class="row">
                          <div class="col-md-6" style="color: black;">
                            Select Operating System
                          </div>
                        </div>
                      </h3>
                    </div>
                    <div *ngIf="order_details.instance_type.toLowerCase() !='bare_metal'" class="panel-body">
                      {{data.server_details.operating_system}}</div>
                    <div *ngIf="order_details.instance_type.toLowerCase() =='bare_metal'" class="panel-body">
                      {{data.extra_tools && data.extra_tools.os ? data.extra_tools.os : 'NA'}}
                      <!-- {{data.server_details_user.software && data.server_details_user.software.os || 'NA'}} -->
                    </div>
                  </div>
                  <!--Select Application(s)-->
                  <div class="panel panel-default"
                    *ngIf="data.extra_tools && order_details?.instance_type != 'hardware'">
                    <div class="panel-heading" style="background-color: lightgray">
                      <h3 class="panel-title">
                        <div class="row">
                          <div class="col-md-6" style="color: black;">
                            Select Application(s)
                          </div>
                          <div class="col-md-6" *ngIf="enable_pm_edit">
                            <div style="float: right; color:#4775d1; cursor: pointer;" type="button" data-toggle="modal"
                              data-target="#exampleModal"
                              (click)="doModal(data.app_to_select, 'Select Application (s)', 'checkbox', data)">
                              Change</div>
                          </div>
                        </div>
                      </h3>
                    </div>
                    <div class="panel-body">
                      <ul *ngIf="data.extra_tools && data.extra_tools.tools">
                        <li *ngFor="let app of Object.values(data.extra_tools.tools)">{{app}}</li>
                      </ul>

                      <div *ngIf="data.custom_data && Object.keys(data.custom_data).length">
                        <hr>
                        <div *ngFor="let action of Object.keys(data.custom_data)">
                          <div *ngIf="data.custom_data[action] && data.custom_data[action].length">
                            <h4 style="    text-decoration: underline;
                          color: black; font-weight: bold;     font-size: 14px;">
                              {{action == 'apps' ? "To be Installed" : "To be Uninstalled"}}</h4>
                            <ul>
                              <li *ngFor="let app of data.custom_data[action]">{{app.versions}}</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- vegulla removed -->
                  <!--           <mat-form-field style="width: 35%;">
                    <mat-select disabled="true" (selectionChange)="data.custom_data.alert_before = $event.value"
                      placeholder="Alert me before expiring in(days)">
                      <mat-option value="1">1</mat-option>
                      <mat-option value="2">2</mat-option>
                    </mat-select>
                  </mat-form-field> -->

                </form>
              </div>
              <!-- TABLE BEING SHOWED VEGULLA -->
              <div class="col-md-4">
                <table *ngIf="data.server_details" class="table server-detail" style="border: solid 1px gray">
                  <thead class="easTableHead">
                    <!-- <tr> -->
                    <th colspan="2">{{ data.service_name }} Details
                    </th>
                    <!--  </tr> -->
                  </thead>
                  <!-- <tbody > -->
                  <tbody *ngIf="order_details?.instance_type != 'hardware'">
                    <tr *ngFor="let row of Object.keys(data.server_details)">
                      <td class="easTableRowColKey">{{api.humanize(row)}}</td>
                      <td class="easTableRowCol">{{api.add_units_to_server_details(data.server_details[row], row)}}</td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="order_details?.instance_type == 'hardware'">
                    <tr *ngFor="let row of hardwareRows">
                      <td class="easTableRowColKey">{{getHoverDisplayNames(row, 'hardware')}}</td>
                      <td class="easTableRowCol">{{api.add_units_to_server_details(data.server_details[row], row)}}</td>
                    </tr>
                  </tbody>

                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="modal_data.title">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="font-size: 20px;">{{modal_data.title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <!-- <button>Submit</button> -->
          </div>

          <div class="modal-body">
            <div class="row" style="margin-bottom: 10px;">
              <!-- <div class="col-md-6" style="font-size: 15px;">List of Applications ({{ modal_data.list.length}})</div> -->
              <div class="col-md-6" style="font-size: 15px;"></div>
              <div class="col-md-6" style="text-align: right;">
                <button class="btn" style="margin-right: 10px; background-color: #313944; color: white;"
                  data-dismiss="modal" (click)="cancelOnUninstallModal(modal_data.row)">CANCEL</button>
                <button [disabled]="!modal_data.row.edit_modal_enable" class="btn btn-primary" data-dismiss="modal"
                  (click)="submitOnUninstallModal(modal_data.row)">ADD</button>
              </div>
            </div>
            <h5 style="font-size: 16px;">Applications Running</h5>
            <!-- Table  for installed applications -->
            <table class="table table-bordered">
              <!-- Table head -->
              <thead>
                <tr class="tr-heading">
                  <th>
                    <!-- Material unchecked -->
                    <div class="form-check">
                      <!-- <input type="checkbox" class="form-check-input" id="tableMaterialCheck1"> -->
                      <label class="form-check-label" for="tableMaterialCheck1">Application Name</label>
                    </div>
                  </th>
                  <td>Version</td>
                  <th style="width: 30%;"></th>
                </tr>
              </thead>
              <!-- Table head -->

              <!-- Table body -->
              <tbody>
                <tr *ngIf="!modal_data.installed_list.length">No Applications Running</tr>
                <tr *ngFor="let item of modal_data.installed_list">
                  <!-- <th scope="row">
                    <div class="form-check">
                      <input [type]="modal_data.inputType"
                        (change)="osNappsSelection(modal_data.inputType, $event, modal_data.row, item)"
                        class="form-radio-input" [checked]="item.checked || item.installed" id="tableMaterialCheck2">
                      <label class="form-check-label"
                        for="tableMaterialCheck2">{{api.capitalize(item.service_name)}}</label>
                    </div>
                  </th> -->
                  <td>{{api.capitalize(item.service_name)}}</td>
                  <td>{{item.versions}}</td>
                  <td style="cursor: pointer;"><a *ngIf="!item.user_uninstall" style="font-weight: bold;"
                      (click)="item.user_uninstall = true; pm_uninstall_apps(true, modal_data.row, modal_data.installed_list)">Uninstall</a>
                    <a *ngIf="item.user_uninstall" style="font-weight: bold;"
                      (click)="item.user_uninstall = false;">Cancel Uninstall</a></td>
                </tr>

              </tbody>
              <!-- Table body -->
            </table>
            <!-- Table  for new applications -->
            <h5 style="font-size: 16px;">Add New Applications</h5>
            <table class="table table-bordered">
              <!-- Table head -->
              <thead>
                <tr class="tr-heading">
                  <th>
                    <!-- Material unchecked -->
                    <div class="form-check">
                      <!-- <input type="checkbox" class="form-check-input" id="tableMaterialCheck1"> -->
                      <label class="form-check-label" for="tableMaterialCheck1">Application Name</label>
                    </div>
                  </th>
                  <th>Version</th>
                </tr>
              </thead>
              <!-- Table head -->

              <!-- Table body -->
              <tbody>
                <tr *ngFor="let item of modal_data.list">
                  <td scope="row">
                    <!-- Material unchecked -->
                    <div class="form-check">
                      <input [type]="modal_data.inputType"
                        (change)="osNappsSelection(modal_data.inputType, $event, modal_data.row, item)"
                        class="form-radio-input" [checked]="item.checked" id="tableMaterialCheck2">
                      <label class="form-check-label" for="tableMaterialCheck2"
                        style="font-weight: 1;padding-left: 10px;">{{api.capitalize(item.service_name)}}</label>
                    </div>
                  </td>
                  <td>{{item.versions}}</td>
                </tr>

              </tbody>
              <!-- Table body -->
            </table>
            <!-- Table  -->
          </div>
          <!-- <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div> -->
        </div>
      </div>
    </div>
    <!-- modal ends -->

  </div> <!-- end container -->
</div>
<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->

<!-- Button trigger modal -->
<button style="display: none;" id="edit_server_modal" type="button" class="btn btn-primary" data-toggle="modal"
  data-target="#exampleModal_edit">
  Launch demo modal
</button>

<!-- Modal -->
<div *ngIf="edit_response" class="modal fade" id="exampleModal_edit" tabindex="-1" role="dialog"
  aria-labelledby="exampleModal_editLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal_editLabel" style="font-size: 20px;">Server (s) Status after Editing
        </h5>
        <button type="button" (click)="ngOnInit()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="border: gray solid 1px;" *ngFor="let server of Object.keys(edit_response)">
          <h4 style="font-size: 17px; background-color: gainsboro; padding: 5px;">{{server}}</h4>
          <div style="padding: 5px;
          font-size: 16px;" *ngFor="let action of Object.keys(edit_response[server])">
            <h5 style="font-size: 15px; font-weight: bold;">Action Performed: {{api.humanize(action)}}</h5>
            <table class="table table-bordered">
              <thead>
                <tr class="tr-heading">
                  <th style="width: 50%;">Application</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let app of  Object.keys(edit_response[server][action])">
                  <td>{{app}}</td>
                  <td>{{edit_response[server][action][app]}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<div class="modal-background" *ngIf="isModalOpen"></div>
<app-request-modal-popup *ngIf="isModalOpen" [inputData]="modalInputData" [type]="typeOfOperation"
  (requestModalDialogClose)="closeModalDialog($event)">
</app-request-modal-popup>