<div class="dashboardhead">

        <h5 class="dashboardBody_Heading"><span style="font-weight: bold;" routerLink="/AdminDashboard">Dashboard</span></h5>
      </div>
      
      <div class="container-fluid dashboardbody">
      
        <div class="row">
          <div class="col-md-3" *ngFor="let info of servicesInfo">
            <div class="topborder" [ngStyle]="{'border-top-color': info.bordercolor}">
              <div class="well" style="padding-bottom: 0px">
                <div class="row">
                  <!-- <div class="col-md-6"><img src={{info.imagePath}} class="logo" />
                   </div> -->
                  <div class="col-md-12">
      
                    <span class="headerText">
                      <h5 class="headerTextInner">{{info.name}}</h5>
                    </span>
                    <span style="margin-bottom: 0px;">
                      <h1 class="headerNum" style="
                    font-weight: bold;" [style.color]="info.color">{{info.num_of_services}}</h1>
                    </span></div>
                </div>
              </div>
            </div>
          </div>
      
        </div>
        <div class="row">
          <div class="col-md-6">
            <div style="border:1px solid #313944;background: #313944;color:white;border-top-left-radius: 4px;
                                  border-top-right-radius: 4px; margin-top:38px;height:52px;">
              <h4 style='margin-left: 22px;
        margin-top: 15px;
        font-weight: bold;font-size:20px'>BAREMETAL</h4>
            </div>
            <div class="well" style='border-top-left-radius: 0px;
                                    border-top-right-radius: 0px;padding: 1%;'>
              <div class="row">
                <div class="col-md-12">
                  <div class="left-center">
      
                    <div class="second-heading"></div>
                    <div class="left-middle">
                      <div class="middle-first-bubble">
                        <div class="circular-bg" style="color:#76b6ff;font-weight: bold">{{opn_hosts}}</div>
                        <div class="below-bubble first-bubble">Host</div>
                      </div>
                      <div class="middle-first-bubble">
                        <div class="circular-bg" style="color:#fe9c3b;font-weight: bold">700
                          <!-- {{opn_svc}} -->
                        </div>
                        <div class="below-bubble second-bubble">Billing($)</div>
                      </div>
                      <div class="middle-first-bubble">
                        <div class="circular-bg" style="color:#e5cb14;font-weight: bold">{{opn_act_vdes}}</div>
                        <div class="below-bubble first-bubble">Utilization(%)</div>
                      </div>
                      <div class="middle-first-bubble">
                        <div class="circular-bg" style="color:#e064e8;font-weight: bold">{{open_reqs}}</div>
                        <div class="below-bubble second-bubble">Requests</div>
                      </div>
                    </div>
                    <hr>
                    <div class="second-heading">Resource Summary</div>
                    <div class="bottom-section-cpu">
                      <div style="    font-size: 15px;
                                                  font-weight: bold;
                                                  text-align: center;
                                                  margin-top: 4%;">CPU</div>
                      <div id="chartdiv" style="height: 200px; margin-top: -16%;">
      
                      </div>
                      <div style="     border: 1px solid #2b92f1;     border-radius: 12px;     width: 20%;     padding: 3px;     text-align: center;     margin-top: -9%;     margin-left: 5%;     font-weight: bold;     font-size: 13px;     position: absolute;       z-index: 1;     background: black;">{{opn_cpu.used}} / 520</div>
                      <!-- <div>
                                                  <div class="cpu-left">
                                                    <div><img src="/assets/images/adminimages/cpu-35x44.svg" /></div>
                                                    <div class="total-assets">{{opn_cpu.avail}}</div>
                                                  </div>
                                                   <div style="stroke-width:5px"><round-progress [current]="opn_cpu.used" [max]="opn_cpu.avail+opn_cpu.used" [color]="'#ec9124'" [background]="'#eaeaea'" [radius]="45" [stroke]="5" [semicircle]="false" [rounded]="false" [clockwise]="true" [responsive]="false" [duration]="300" [animation]="'easeInOutCirc'" [animationDelay]="0"
                                                    (onRender)="doSomethingWithCurrentValue($event)"> </round-progress></div>
                                                </div>
                                                <div class="cpu-caption">CPU <span>{{opn_cpu.used}}</span></div> -->
                    </div>
                    <div class="bottom-section-ram">
                      <div style="    font-size: 15px;
                                                  font-weight: bold;
                                                  text-align: center;
                                                  margin-top: 4%;">RAM</div>
                      <div id="chartdiv1" style="height: 200px; margin-top: -16%;">
                        <!-- <div>
                                                    <div class="ram-left">
                                                      <div><img src="/assets/images/adminimages/ram-35x22.svg" /></div>
                                                      <div class="total-assets">{{opn_ram.avail}} GB</div>
                                                    </div>
                                                     <div style="stroke-width:5px"><round-progress [current]="opn_ram.used" [max]="opn_ram.avail+opn_ram.used" [color]="'#6c51d1'" [background]="'#eaeaea'" [radius]="45" [stroke]="5" [semicircle]="false" [rounded]="false" [clockwise]="true" [responsive]="false" [duration]="100" [animation]="'easeInOutCirc'" [animationDelay]="0"
                                                      (onRender)="doSomethingWithCurrentValue($event)"> </round-progress></div>
                                                  </div>
                                                  <div class="ram-caption">RAM <span>{{opn_ram.used}}</span> GB </div> -->
                      </div>
                      <div style="    border: 1px solid #2b92f1;     border-radius: 12px;     width: 20%;     padding: 3px;     text-align: center;     margin-top: -9%;     margin-left: 5%;     font-weight: bold;     font-size: 13px;     position: absolute;       z-index: 1;     background: black;">{{opn_ram.used}} / 692
                        GB</div>
                    </div>
                    <div class="bottom-section-hd">
                      <div style="    font-size: 15px;
                                                    font-weight: bold;
                                                    text-align: center;
                                                    margin-top: 4%;">HDD</div>
                      <div id="chartdiv2" style="height: 200px; margin-top: -16%;">
                        <!-- <div>
                                                      <div class="ram-left">
                                                        <div><img src="/assets/images/adminimages/hdd-44x44.svg" /></div>
                                                        <div class="total-assets">{{opn_hdd.avail}} TB</div>
                                                      </div>
                                                       <div style="stroke-width:5px"><round-progress [current]="opn_hdd.used" [max]="max_opn_hdd" [color]="'#1398ec'" [background]="'#eaeaea'" [radius]="45" [stroke]="5" [semicircle]="false" [rounded]="false" [clockwise]="true" [responsive]="false" [duration]="500" [animation]="'easeInOutCirc'" [animationDelay]="0"
                                                        (onRender)="doSomethingWithCurrentValue($event)"> </round-progress></div>
                                                    </div>
                                                    <div class="cpu-caption">HDD <span>{{opn_hdd.used}}</span> TB</div> -->
      
                      </div>
                      <div style="     border: 1px solid #2b92f1;     border-radius: 12px;     width: 20%;     padding: 3px;     text-align: center;     margin-top: -9%;     margin-left: 5%;     font-weight: bold;     font-size: 13px;     position: absolute;       z-index: 1;     background: black;"><span *ngIf="webService.storage==true">1.80 / 2.0</span>
                        <span *ngIf="webService.storage==false">1.56 / 2.0</span>
                        <!-- {{opn_hdd.used}} -->
                        TB</div>
                    </div>
      
                  </div>
      
                </div>
      
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div style="border:1px solid #313944;background: #313944;color:white;border-top-left-radius: 4px;
                                        border-top-right-radius: 4px; margin-top:38px;height:52px">
              <h4 style="margin-left: 22px;;
        margin-top: 15px;
        font-weight: bold;font-size:20px">VM</h4>
            </div>
      
            <div class="well" style='border-top-left-radius: 0px;
                                      border-top-right-radius: 0px;padding: 1%;'>
              <div class="row">
                <div class="col-md-12">
                  <div class="right-center ">
      
                    <div class="second-heading"></div>
                    <div class="left-middle">
                      <div class="middle-first-bubble">
                        <div class="circular-bg-kuber" style="color:#76b6ff;font-weight: bold">{{kube_hosts}}</div>
                        <div class="below-bubble first-bubble">Host</div>
                      </div>
                      <div class="middle-first-bubble">
                        <div class="circular-bg-kuber" style="color:#fe9c3b;font-weight: bold">{{kube_svc}}</div>
                        <div class="below-bubble second-bubble">Services</div>
                      </div>
                      <div class="middle-first-bubble">
                        <div class="circular-bg-kuber" style="color:#e5cb14;font-weight: bold">{{kube_act_vdes}}</div>
                        <div class="below-bubble first-bubble">VMs</div>
                      </div>
                      <div class="middle-first-bubble">
                        <div class="circular-bg-kuber" style="color:#e064e8;font-weight: bold">{{kube_reqs}}</div>
                        <div class="below-bubble second-bubble">Requests</div>
                      </div>
                    </div>
                    <hr>
                    <div class="second-heading">Resource Summary</div>
                    <div class="bottom-section-cpu">
                      <div style="    font-size: 15px;
                                                font-weight: bold;
                                                text-align: center;
                                                margin-top: 4%;">CPU</div>
                      <div id="chartdiv3" style="height: 200px; margin-top: -16%;">
      
                        <!-- <div>
                                                  <div class="cpu-left">
                                                    <div><img src="/assets/images/adminimages/cpu-35x44.svg" /></div>
                                                    <div class="total-assets">{{kube_vcpu.avail}}</div>
                                                  </div>
                                                   <div style="stroke-width:5px"><round-progress [current]="kube_vcpu.used" [max]="kube_vcpu.avail+kube_vcpu.used" [color]="'#ec9124'" [background]="'#eaeaea'" [radius]="45" [stroke]="5" [semicircle]="false" [rounded]="false" [clockwise]="true" [responsive]="false" [duration]="300" [animation]="'easeInOutCirc'" [animationDelay]="0"
                                                    (onRender)="doSomethingWithCurrentValue($event)"> </round-progress></div>
                                                </div>
                                                <div class="cpu-caption">CPU <span>{{kube_vcpu.used}}</span></div> -->
                      </div>
                      <div style="    border: 1px solid #2b92f1;     border-radius: 12px;     width: 20%;     padding: 3px;     text-align: center;     margin-top: -9%;     margin-left: 5%;     font-weight: bold;     font-size: 13px;     position: absolute;       z-index: 1;     background: black;">{{kube_vcpu.used}} / 180</div>
                    </div>
                    <div class="bottom-section-ram">
                      <div style="    font-size: 15px;
                                                  font-weight: bold;
                                                  text-align: center;
                                                  margin-top: 4%;">RAM</div>
                      <div id="chartdiv4" style="height: 200px; margin-top: -16%;">
                        <!-- <div>
                                                    <div class="ram-left">
                                                      <div><img src="/assets/images/adminimages/ram-35x22.svg" /></div>
                                                      <div class="total-assets">{{kube_ram.avail}} GB</div>
                                                    </div>
                                                     <div style="stroke-width:5px"><round-progress [current]="kube_ram.used" [max]="kube_ram.avail+kube_ram.used" [color]="'#6c51d1'" [background]="'#eaeaea'" [radius]="45" [stroke]="5" [semicircle]="false" [rounded]="false" [clockwise]="true" [responsive]="false" [duration]="1000" [animation]="'easeInOutCirc'" [animationDelay]="0"
                                                      (onRender)="doSomethingWithCurrentValue($event)"> </round-progress></div>
                                                  </div>
                                                  <div class="ram-caption">RAM <span>{{kube_ram.used}}</span>GB</div> -->
                      </div>
                      <div style="     border: 1px solid #2b92f1;     border-radius: 12px;     width: 20%;     padding: 3px;     text-align: center;     margin-top: -9%;     margin-left: 5%;     font-weight: bold;     font-size: 13px;     position: absolute;       z-index: 1;     background: black;">{{kube_ram.used}} / 403
                        GB</div>
                    </div>
      
                    <div class="bottom-section-hd">
                      <div style="    font-size: 15px;
                                                    font-weight: bold;
                                                    text-align: center;
                                                    margin-top: 4%;">HDD</div>
                      <div id="chartdiv5" style="height: 200px; margin-top: -16%;">
                        <!-- <div>
                                                    <div class="ram-left">
                                                      <div><img src="/assets/images/adminimages/hdd-44x44.svg" /></div>
                                                      <div class="total-assets">{{kube_hdd.avail}} TB</div>
                                                    </div>
                                                     <div style="stroke-width:5px"><round-progress [current]="kube_hdd.used" [max]="max_kube_hdd" [color]="'#1398ec'" [background]="'#eaeaea'" [radius]="45" [stroke]="5" [semicircle]="false" [rounded]="false" [clockwise]="true" [responsive]="false" [duration]="500" [animation]="'easeInOutCirc'" [animationDelay]="0"
                                                      (onRender)="doSomethingWithCurrentValue($event)"> </round-progress></div>
                                                  </div>
                                                  <div class="cpu-caption">HDD <span>{{kube_hdd.used}} TB</span></div> -->
                      </div>
                      <div style="     border: 1px solid #2b92f1;     border-radius: 12px;     width: 20%;     padding: 3px;     text-align: center;     margin-top: -9%;     margin-left: 5%;     font-weight: bold;     font-size: 13px;     position: absolute;       z-index: 1;     background: black;">
                        <!-- {{kube_hdd.used}} --><span *ngIf="webService.storage==true">1.55 / 2.0</span>
                        <span *ngIf="webService.storage==false">1.31 / 2.0</span>
                        TB</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      