.mat-header-row, .mat-row {

    border-top-width: 1px; 
       border-top-style: solid;
       border-top-color: rgba(0,0,0,.12);
   }
   .mat-elevation-z8{
       padding:25px;
       box-shadow: none !important;
   }
   .example-full-width{
       left: 80%;
   }
   input.mat-input-element {
      
       padding-bottom: 7px;
   }
   .mat-dialog-container {
     
       border-radius: 15px !important;
      
   }
   /* .mat-paginator-page-size {
       display: none;
   } */
   mat-header-row{
       background-color: white;
       border-bottom-width: 0px; 
      border-bottom-style: none;
      /* font-weight:bold; */
      min-height: 40px;
   
     }
     mat-header-cell{
    
       font-weight:bold;
      font-size:13px;
   
     }
     mat-row:hover {
        /* background: #585858!important; */
        background-color: #d6e8f1!important;
        cursor:pointer;
    }