<div class="dashboardhead">
    <h5 class="dashboardBody_Heading">
      <span routerLink="/home/AdminDashboard">Dashboard</span>/
      <span style="font-weight: bold;" routerLink="/home/AdminDashboard/holidays">Holidays</span>
    </h5>
  </div>
  
  <div class="container-fluid dashboardbody">
    <div class=" bodyCard" id="listtable">
      <div class="panel panel-default">
        <div class="panel-heading" >
          <h6 class="panel-title">
            <a  >
          List of Holidays
            </a>
          </h6>
  
        </div>
        <div class="panel-body">
<!-- <button type="button" (click)="calendar()">calendar</button> -->
<div id="calendar"></div>
</div>
</div></div></div> 